// TODO: the classes here have to be properly namespaced
@type: 'extra';
@element: 'custom';

@import 'listing-cards.variables';

@import (multiple, reference, optional) '../../theme.config';

each(range(5), {
  .max-@{value}-lines {
    --max-lines: @value;
  }
  .title-max-@{value}-lines {
    --title-max-lines: @value;
  }
});

.useMaxLines(@value: 5) {
  display: -webkit-box !important;
  overflow: hidden;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines, @value);
}

.useTitleMaxLines(@value: 5) {
  display: -webkit-box !important;
  overflow: hidden;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--title-max-lines, @value);
}

.category {
  font-size: @categoryFontSize;
}

.ui.cards > .card,
.ui.card {
  height: unset;
}

.ui.cards > .card > .content > .header:not(.ui),
.ui.card > .content > .header:not(.ui) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-item {
  padding: 8px 0;
  border-bottom: 1px solid #e6e6e6;
}

.news-headline {
  color: rgb(0, 84, 84);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.info-prefix {
  color: #9a9a9a;
  font-size: 12px;
}

.u-item {
  .listing-description {
    .useMaxLines();
  }

  .listing-header {
    .useTitleMaxLines();
  }
}

// over specific due to blocks.less override
.u-item.listing-item {
  a,
  a p {
    color: var(--text-color, #3d5265);
  }
}

.listing-item {
  padding-bottom: 16px;
  border-bottom: @listingCardBorderBottom;
  margin-bottom: 32px;

  .slot-head,
  .listing-header {
    margin-bottom: 8px;
  }

  // shrink and grow listing body in order to fit the left or right image
  .listing-body {
    flex: 1;
  }

  .meta .date {
    margin-left: auto;
  }

  // defaults in Volto
  .slot-top {
    display: flex;
    width: 100%;
    gap: @imageWrapperMargin;

    @media only screen and (max-width: (@largestMobileScreen)) {
      flex-direction: column;
    }
  }
}

.listing-item:last-child {
  border-bottom: none;
}

// span listing item full width in order for images to line up when
// we have small titles
.listing-item .wrapper {
  width: 100%;
}

// Search item listing
.result-item .listing-body {
  display: flex;
  flex-direction: column;
}

// ensure default card model on listing is part of a grid
// of cards instead of one giant card
.imageCard-items,
.card-items {
  display: grid;
  gap: @listingCardGridGap;
  grid-template-columns: repeat(auto-fit, @listingCardGridMinMax);
}

.card.u-card.item-card {
  display: grid;
  padding: @listingCardPadding;
  border-bottom: @listingCardBorderBottom;
}
.card.u-card.item-card:last-child {
  border-bottom: none;
}

//.listing.summary
.ui.card.u-card.item-card .extra {
  padding-bottom: 0;
}

@media screen and (min-width: 480px) {
  // bring the extra section closer to the content area
  .left-image-card {
    grid-template-areas:
      'image body'
      '.     extra';
  }

  .right-image-card {
    grid-template-areas:
      'body image'
      'extra .';
  }

  .item-card .image {
    grid-area: image;
  }

  .ui.item-card .extra.content {
    margin-top: @listingCardExtraTopMargin;
    grid-area: extra;
  }

  .u-card.item-card .description {
    margin-bottom: @listingCardGridDescriptionMarginBottom;
  }

  .left-image-card {
    grid-template-columns:
      minmax(
        var(--image-min-width, @imageMinWidth),
        var(--image-max-width, @imageMaxWidth)
      )
      auto;
  }

  .right-image-card {
    grid-template-columns: auto minmax(
        var(--image-min-width, @imageMinWidth),
        var(--image-max-width, @imageMaxWidth)
      );
  }
}

// listing theme styling alongside inverse options
.listing-item:not(.rounded) {
  --image-max-width: @imageMaxWidth;
  --image-max-height: @imageMaxHeight;
  --image-aspect-ratio: @imageAspectRatio;
}

.u-item.listing-item .ui.image {
  width: var(--image-width, 100%);
  max-width: var(--image-max-width, 100%);
  height: var(--image-height, auto);
  max-height: var(--image-max-height, auto);
  aspect-ratio: var(--image-aspect-ratio, initial);
  border-radius: var(--border-radius, 0);
  object-fit: var(--image-object-fit, cover);
  object-position: var(--image-object-position, top);
}

// override block.less from pastanaga
.u-item.listing-item img {
  margin-right: 0;
}

.listing-item .image-wrapper {
  display: @imageWrapperDisplay;
}

@media screen and (min-width: 480px) {
  // without a fixed width wrapper some images are smaller with 100% width value
  .listing-item .image-wrapper {
    width: var(--image-max-width, auto);
  }
}

.card.rounded,
.listing-item.rounded {
  --image-width: @imageRoundedWidth;
  --image-height: @imageRoundedWidth;
  --border-radius: 50%;
}

.listing-item.primary {
  --text-color: var(--text-color--primary, #fff);
  --bg-color: var(--background-color, @primaryColor);
}

.listing-item.secondary {
  --text-color: var(--text-color--secondary, #fff);
  --bg-color: var(--background-color, @secondaryColor);
}

.listing-item.tertiary {
  --text-color: var(--text-color--tertiary, #fff);
  --bg-color: var(--background-color, @tertiaryColor);
}

.listing-item.inverted {
  --text-color--primary: @primaryColor;
  --text-color--secondary: @secondaryColor;
  --text-color--tertiary: @tertiaryColor;
  --theme-padding: 32px 0;
  --background-color: #fff;
}

.simple-listing-item.inverted {
  --theme-padding: 0;
}

.listing.summary {
  background-color: var(--bg-color, transparent);
  color: var(--text-color, @tertiaryColor);
}

.u-item.listing-item.simple-listing-item {
  padding: var(--theme-padding, 0);
  border-bottom: none;
  margin: 0;
  background-color: var(--bg-color, #fff);
  color: var(--text-color, @tertiaryColor);

  .slot-head,
  .listing-header {
    margin-bottom: 0;
  }
}

.u-item.listing-item {
  padding: var(--theme-padding, 32px 1rem);
  margin: 0;
  background-color: var(--bg-color, #fff);
  color: var(--text-color, @tertiaryColor);
}

.ui.card.u-card {
  .meta:after {
    content: '\200b';
  }

  .header {
    .useTitleMaxLines();
  }

  .description {
    .useMaxLines();
  }
}

.cards-carousel .slick-slide {
  visibility: hidden;
}

.cards-carousel .slick-active {
  visibility: visible;
}

@media only screen and (max-width: (@largestMobileScreen)) {
  .listing-item {
    .image-wrapper,
    .image-wrapper .ui.image {
      margin: 0;
    }
  }
}

@media print {
  .cards-carousel {
    .slick-track {
      flex-direction: column !important;
    }

    .slick-list {
      overflow: visible !important;
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list {
      overflow: visible !important;
      width: auto !important;
      height: auto !important;
      transform: none !important;
    }

    .slick-track .slick-slide {
      display: block !important;
      overflow: visible !important;
      width: auto !important;
    }

    .slick-arrow,
    .slick-dots,
    .slick-track .slick-cloned,
    .pagination-wrapper {
      display: none !important;
    }
  }

  .pagination-wrapper {
    display: none !important;
  }
}
