// TODO: the classes here have to be properly namespaced
@type: 'extra';
@element: 'custom';

@import 'listing-cards.variables';

@import (multiple, reference, optional) '../../theme.config';

.category {
  font-size: @categoryFontSize;
}

.description {
  font-size: 14px;
}

.ui.cards > .card,
.ui.card {
  height: unset;
}

.ui.cards > .card > .content > .header:not(.ui),
.ui.card > .content > .header:not(.ui) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-item {
  padding: 8px 0;
  border-bottom: 1px solid #e6e6e6;
}

.news-headline {
  color: rgb(0, 84, 84);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.info-prefix {
  color: #9a9a9a;
  font-size: 12px;
}

each(range(5), {
  .max-@{value}-lines {
    --max-lines: @value;
  }
});

.useMaxLines() {
  display: -webkit-box;
  overflow: hidden;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines, 5);
}

.u-item {
  .listing-description {
    .useMaxLines();
  }
}

// over specific due to blocks.less override
.u-item.listing-item {
  a,
  a p {
    color: var(--text-color, #3d5265);
  }
}

.listing-item {
  padding-bottom: 16px;
  border-bottom: 1px solid #bcbec0;
  margin-bottom: 32px;

  .slot-head,
  .listing-header {
    margin-bottom: 8px;
  }

  .meta .date {
    margin-left: auto;
  }

  // defaults in Volto
  .slot-top {
    display: flex;
    width: 100%;

    @media only screen and (max-width: (@largestMobileScreen)) {
      flex-direction: column;
    }
  }
}

// listing theme styling alongside inverse options

.listing .listing-item .ui.image {
  width: var(--image-width, auto);
  height: var(--image-height, auto);
  border-radius: var(--border-radius, 0);
}

.listing-item .image {
  --image-max-width: 350px;
}

.has--rounded--true[class*="listing"] {
  --image-width: 176px !important;
  --image-height: 176px !important;
  --border-radius: 50%;
}

.has--theme--primary[class*="listing"] {
  --text-color: var(--text-color--primary, #fff);
  --bg-color: var(--background-color, @primaryColor);
}

.has--theme--secondary[class*="listing"] {
  --text-color: var(--text-color--secondary, #fff);
  --bg-color: var(--background-color, @secondaryColor);
}

.has--theme--tertiary[class*="listing"] {
  --text-color: var(--text-color--tertiary, #fff);
  --bg-color: var(--background-color, @tertiaryColor);
}

.has--inverted--:not(.has--theme--)[class*="listing"] {
  --text-color: #fff;
  --theme-padding: 32px 1.5rem;
}

.has--inverted--true[class*="listing"] {
  --text-color--primary: @primaryColor;
  --text-color--secondary: @secondaryColor;
  --text-color--tertiary: @tertiaryColor;
  --theme-padding: 32px 0;
  --background-color: #fff;
}

.listing.summary {
  background-color: var(--bg-color, transparent);
  color: var(--text-color, @tertiaryColor);
}

.image.left {
  margin-right: 24px;
}

.image.right {
  margin-right: 0;
  margin-left: 24px;
}

.u-item.listing-item {
  padding: var(--theme-padding, 32px 1rem);
  margin: 0;
}

.ui.card.u-card {
  .description {
    display: -webkit-box;
    overflow: hidden;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines, 5);
  }

  &.left-image-card {
    flex-direction: row;
  }

  &.right-image-card {
    flex-direction: row-reverse;
  }
}
